.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: white;
    z-index: 1;
    border: 2px solid black;
}

.pokemon_power {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.pokemon_powers {
    display: flex;
    justify-content: center;
}

.pokemon_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

.pokemon_info {
    height: 100px;
    margin-bottom: 15px;
}
.pokemon > img {
    width: 100px;
    height: 100px;
    /*object-fit: contain;*/
    margin-bottom: 5px;
    align-items: center;
}